
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #EFEFEF;
}

.back
{
    background-color: white;
    margin: auto;
    height: 300px;
    width: 500px;
    margin-top: 90px;
    text-align: center;
    padding-top: 90px;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1)
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

input
{
    width: 300px;
    height: 30px;
    padding-left: 20px;
    background-color: #EEEEEE;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
}


#btn{
    height: 30px;
    width: 300px;
    background-color: #0E7FD3;
    color: white;
    border: 1px solid #0E7FD3;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.fa-eye

{
    color: #707070;
    position: relative;
    left: -30px;
    /* top: 236px;
    left: 53em; */
    cursor: pointer;
}

#password
{
    margin-left: 20px;
}